body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: deeppink;
}
#itemInput,#quantityInput
{
    width: 20%;
    height: 30px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid white
    border-radius 5px;
    position: relative;
    left: 200px;
}
#totalQuantity
{
    position: relative;
    left: 200px; 
}
#addItemButton
{
    width: 10%;
    height: 40px;
    background-color: cornflowerblue;
    color: crimson;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 300px;
}
#addItemButton:hover
{
    background-color: blueviolet;
}
#shoppingList
{
    list-style: none;
    padding: 0;
    margin: 0;
}
#shoppingList li
{
padding: 10px;
border-bottom: 1px solid white;
position: relative;
left: 200px;
}
#shoppingList li:last-child
{
border-bottom:none
}
.delete-button
{
    background-color: darkgreen;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
}
.delete-button:hover
{
    cursor: pointer;
    background-color: blueviolet; 
}